{{define "addFeatureForm"}}
<form hx-ext="json-enc" hx-post="/features/addfeature">
    <header>
        <h2>Add New Feature</h2>
        <p>Please fill out the form below to add the feature to the database.</p>
    </header>
    <div>
        <label for="name">Feature Name:</label><br>
        <input class="form-control" type="text" id="name" name="name"><br>
        <label for="description">Description:</label><br>
        <input class="form-control" type="text" id="description" name="description"><br>
        <label for="category">Category:</label><br>
        <select class="form-select" id="category" name="category">
            <option value="Visual">Visual</option>
            <option value="Audio">Audio</option>
            <option value="Motor">Motor</option>
            <option value="Cognitive">Cognitive</option>
        </select>
    </div>
    <div class="mt-2">
    <button type="submit" class="btn btn-primary">
        Add Feature
    </button>
    </div>
</form>
{{end}}