{{define "gamesPage"}}
<div class="row">
    <div class="d-flex justify-content-start align-items-center">
        <h2 class="pe-4">Games</h2>
        <button hx-get="/games/newform" hx-target="#gameForm" hx-swap="innerHTML" class="btn btn-info">
            Add New Game
        </button>
    </div>
    <div class="col-md-7">
        <div id="gamesfeaturesList" hx-get="games/features/list" hx-trigger="load, gameAdded from:body, gameUpdated from:body, gameDeleted from:body, gamefeatureAdded from:body" hx-swap="innerHTML">
        </div>
    </div>
    <div class="col-md-2" id="gameFeature">
    </div>
    <div class="col-md-2">
        <div id="gameForm">
        </div>
    </div>
</div>
{{end}}