{{define "updateFeatureForm"}}
<form hx-ext="json-enc" hx-put="/features/update">
    <header>
        <h2>Update Feature</h2>
        <p>Please fill out the form below to update the feature in the database.</p>
    </header>
    <div>
        <input type="hidden" id="id" name="id" value="{{.ID}}">
        
        <label for="name">Feature Name:</label><br>
        <input type="text" id="name" name="name" value="{{.Name}}"><br>
        
        <label for="description">Description:</label><br>
        <input type="text" id="description" name="description" value="{{.Description}}"><br>
        
        <label for="category">Category:</label>
        <select class="form-select" id="category" name="category">
            <option value="Visual">Visual</option>
            <option value="Audio">Audio</option>
            <option value="Motor">Motor</option>
            <option value="Cognitive">Cognitive</option>
        </select>
    </div>
    <div class="mt-2">
    <button type="submit" class="btn btn-outline-primary">
        Update Feature
    </button>
    </div>
</form>
{{end}}