{{define "gameList"}}
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Release Year</th>
      <th scope="col">Description</th>
      <th scope="col">Platforms</th>
    </tr>
  </thead>
{{if .}}
  <tbody>
    {{range .}}
    <tr>
      <th scope="row">{{.Title}}</th>
      <td>{{.ReleaseYear}}</td>
      <td>{{.Description}}</td>
      <td>
        {{range $i, $p := .Platforms}}
          {{if $i}}, {{end}}{{ $p }}
        {{end}}
      </td>
    </tr>
    {{end}}
  </tbody>
</table>
{{else}}
<p>No games found.</p>
{{end}}
{{end}}