<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ableplay</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
     <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
</head>
<body>
    <h1>Welcome to Ableplay!</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>

<div class="row">
    <div class="col">
        <h2>Games</h2>
        <div id="gameList" hx-get="/games/list" hx-trigger="load, gameAdded from:body" hx-swap="innerHTML">
        </div>
    </div>
    <div class="col">
        <h2>Add New Game</h2>
        <div id="addGameForm" hx-get="/games/newform" hx-trigger="load, gameAdded from:body" hx-swap="innerHTML">
        </div>
    </div>
</div>
</body>
</html>
